<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application","grid" %>
    <%= javascript_include_tag 	"https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js",
								"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js",								
								"rails","application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container" class="container clearfix">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
		<h1>Beech House Residential Care Home</h1>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%#= yield %>

	<div class="inner_container">

			<div class="content_container">
				<div class="grid_16" style="margin-top:1.5em;">
					<%= yield%>
				</div>	
				
			</div>
			<div style="clear:both">&nbsp;</div>
	</div>
	<div id="footer" class="grid_16">
		<p style="font-size:smaller;font-color:grey">Established 1988 . Registered with Care Quality Commission</p>
    </div>
	<div class="grid_4">Test</div>
	<div class="grid_4">Test</div>
	<div class="grid_4">Test</div>
  </body>
</html>
